<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        colors="true"
        stopOnError="true"
        stopOnFailure="true"
        stopOnIncomplete="true"
        stopOnSkipped="true"
        stopOnRisky="true"
>
	<coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <clover outputFile="reports/coverage.xml"/>
            <html outputDirectory="reports/coverage" lowUpperBound="50" highLowerBound="75"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="reports/logfile.xml"/>
        <testdoxHtml outputFile="reports/phpunit.html"/>
    </logging>
</phpunit>
